// clearfix
@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

// media queries
@mixin atSmall {
  @media (min-width: 34.375em) {
    // 550px
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 56.25em) {
    // 900px
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 68.75em) {
    // 1100px
    @content;
  }
}