// general colors
$color-white: #fefefe;
$bg-grey-light: #f7f8f8;
$grey-extra-light: #dddee5;
$grey-dark: #333;

// theme colors
$medium-blue: #3F88C5;
$main-yellow: #FFBA08;
$main-yellow-dark: darken($main-yellow, 5%);
$main-red: #E15C5C;

// gutter
$gutter-vertical-small: 3.5rem;
$gutter-vertical: 4.5rem;
$gutter-horizontal: 4rem;