// general colors
$color-white: #fefefe;
$bg-grey-light: #f3f3f3;
$grey-extra-light: #dddee5;
$grey-light-text: #a5a5a5;
$grey-dark: #333;

// theme colors
$medium-blue: #3F88C5;
$dark-blue: #032B43;
$main-yellow: #FFBA08;
$main-yellow-dark: darken($main-yellow, 8%);
$main-red: #E15C5C;
$main-green: #136F63;

// gutter
$gutter-vertical-small: 2rem;
$gutter-vertical: 4.5rem;
$gutter-horizontal: 4rem;