@font-face {
  font-family: AileronLight;
  src: url('../../assets/fonts/Aileron-Light.otf');
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: $bg-grey-light;
}

img, video, iframe {
  max-width: 100%;
}

img {
  display: block;
}

a,
a:link,
a:visited {
  transition: all .3s ease-out;
  text-decoration: none;
  color: #333;
}

a:hover {
  color: $medium-blue;
} 