.u-center {
  text-align: center;
}

.u-t-bottom-small {
  margin-top: 4rem;
}

.u-m-bottom-small {
  margin-bottom: 2.5rem;
}

.mb-small {
  margin-bottom: 2rem;
  @include atMedium {
    margin-bottom: 3.5rem;
  }
}

.u-m-top-small {
  margin-top: 5rem !important;
}