.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid $medium-blue;

  &:link,
  &:visited {
    color: $medium-blue;
  }

  &:hover {
    background: $medium-blue;
    color: $color-white;
  }
}