.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid $medium-blue;

  &:link,
  &:visited {
    color: $medium-blue;
  }

  &:hover {
    background: $medium-blue;
    color: $color-white;
  }

  &--red {
    border: 1px solid $main-red;
    &:link,
    &:visited {
      color: $main-red;
    }
    &:hover {
      background: $main-red;
      color: $color-white;
    }
  }

  &--yellow {
    border: 1px solid $main-yellow-dark;
    &:link,
    &:visited {
      color: $main-yellow-dark;
    }
    &:hover {
      background: $main-yellow-dark;
      color: $color-white;
    }
  }
}