.card {
  margin-bottom: 3rem; 
  
  @include atMedium {
    background-color: $color-white;
    border-bottom: 1px solid rgb(219, 219, 219);
    min-height: 52rem;
    border: 1px solid #e9e9e9;
    box-shadow: 1px .3rem .7rem rgba(0, 0, 0, .2);
    padding: 1.5rem;
    margin-bottom: 0;
    border-bottom: none;
  }
  
  
  img {
    display: block;
    @include atMedium {
      margin: auto;
    }  
  }

  &__body {
    @include atSmall {
      max-width: 80%;
    }

    @include atMedium {
      max-width: 100%;
      padding: 0 1rem 1rem;
    }  
  }

  &__title {
    margin: 1.4rem 0 1rem;
    font-weight: 400;
    font-size: 2.4rem;
  }

  &__title-link {
    &:link,
    &:visited {
      color: $grey-dark;
    }  

    &:hover,
    &:focus {
      color: $medium-blue;
    }
  }
  
  &__date {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: $grey-light-text;
  }

  &__meta {
    font-size: 1.5rem;
  }

  &__tags {
    margin-top: 2rem;
    color: $medium-blue;
  }

  &__excerpt {
    font-size: 1.6rem;
    a:link,
    a:visited {
      color: $medium-blue;
    }
  }
}