.interviews-list {
  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: 3.5rem;

    @include atSmall {
      background: $color-white;
      box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .10);
    }
  }

  &__img-container {
    margin-bottom: 1.5rem !important;

    @include atLarge {
      margin-bottom: 0 !important;
    }
  }

  &__img {
    display: block;
  }
}