.teaser {
  padding-bottom: 2rem;

  @include atMedium {
    padding-bottom: 0;
  }
  &__category {
    font-size: 1.5rem;
    margin: .6rem 0;
    color: $medium-blue;
    letter-spacing: 3px;

    &--yellow {
      color: $main-yellow-dark;
    }

    &--red {
      color: $main-red;
    }
  }

  &__title {
    font-size: 1.8rem;
    margin: 0;
    line-height: 1.4;

    &--small {
      font-size: 1.9rem; 
    }
  }

  &__title-link {
    &--yellow {
      &:hover {
        color: $main-yellow-dark;
      }
    }

    &--red {
      &:hover {
        color: $main-red;
      }
    }
  }

  &__artist {
    display: block;
    font-weight: bold;
  }

  &__album {
    display: block;
    font-size: 1.7rem;
  }
}