.primary-nav {
  margin: 1.7rem 0;
  background: #f7f7f7;

  @include atLarge {
    background: transparent;
    padding: 1.2rem 0;
    border-top: 1px solid $grey-extra-light;
    border-bottom: 1px solid $grey-extra-light;
  }
  
  ul { 
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    display: block;

    @include atSmall {
      padding-left: 0;
    } 

    @include atLarge {
      display: inline-block;
    }
  }

  li {
    display: block;
    padding: 1.5rem 0;
    border-bottom: 1px solid $grey-extra-light;

    @include atLarge {
      border-bottom: none;
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 5rem;
      font-size: 1.7rem;
      text-transform: capitalize;
    }
  }

  li:last-child {
    padding-right: 0rem;

    @include atLarge {
      border-bottom: none;
    }
  }

  a {
    display: block;
    transition: color .3s;

    &:link,
    &:visited {
      color: $grey-dark;
    }

    &:hover {
      color: $medium-blue;
    }
  }

  &__search-icon {
    padding: 1.5rem 0;
    padding-left: 1rem;
    
    @include atLarge {  
      &:link,
      &:visited {
        padding: 0;
        display: inline-block;
        margin-left: 5rem;
        position: relative;
      }
    }  
  }
}