.site-header {
  padding: 2rem 0 0;
  position: relative;
  background-color: $color-white;

  @include atSmall {
    text-align: center;
  }
  
  &__logo {
    display: inline-block;
    width: auto;
    height: 2.6rem;
    margin-bottom: 1.5rem;

    @include atSmall {
      height: 3.5rem;
    }

    @include atMedium {
      height: 4.3rem;
      margin-bottom: 0;
    
    }
  }

  &__menu-icon {
    width: 2.1rem;
    height: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    text-align: left;
    cursor: pointer;
    
    @include atMedium {
      top: 3.2rem;
    }

    @include atMedium {
      display: none;     
    }

    &::before {
      content: '';
      position: absolute;
      width: 2.1rem;
      height: 3px;
      top: 0;
      background-color: $grey-dark;
      transition: all .3s ease-out;
      transform-origin: 0 0;
    }

    &__middle {
      position: absolute;
      width: 2.1rem;
      height: 3px;
      top: .9rem;
      background-color: $grey-dark;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: '';
      position: absolute;
      width: 2.1rem;
      height: 3px;
      background-color: $grey-dark;
      bottom: 0;
      transition: all .3s ease-out;
      transform-origin: 0 100%;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.2);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.2);
    }
  }

  &__menu-content {
    position: relative;
    display: none;
    text-align: left;
   
    @include atMedium {
      text-align: center;
      margin-top: 1.2rem;
      display: block;
    }  
  }

  &__menu-content--is-visible {
    display: block;
  }

}